<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="layout" content="main">
		<title>Bookin Search</title>
		<script type="text/javascript" src="/js/jquery/js/jquery-ui.min.js" />
		<link rel="stylesheet" type="text/css" href="/css/jquery/css/jquery-ui.min.css" />
	</head>
	<body layout:fragment="content">
		<script>
			$('#bookin-menu').addClass("active");
			$('#bookin-search-link').addClass("active");
		</script>
		<div class="main-content">
			<div class="container-fluid p-t-50">
				<div ng-controller="QueueEntrySearchCtrl">
					<div class="panel panel-primary" ng-controller="TabController as tabCtrl">
						<div class="panel-heading">
							<div class="panel-title"> Bookin Search
								<div class="pull-right" ng-if="clients">
									<button type="button" class="btn" ng-click="loadPrev(tabCtrl)" ng-style="{'visibility': offset > 0 ? 'visible' : 'hidden'}"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
									<button type="button" class="btn" ng-click="loadNext(tabCtrl)" ng-style="{'visibility': total > max + offset > 0 ? 'visible' : 'hidden'}"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
								</div>
							</div>
						</div>
						<div class="tab-container">
							<ul class="tabs">
								<li class="tab" ng-class="{active:tabCtrl.isSet(1)}" ng-click="tabCtrl.setTab(1)">
									<a>Search</a>
								</li>
								<li class="tab" ng-class="{active:tabCtrl.isSet(2)}" ng-click="tabCtrl.setTab(2)" ng-show="queueEntries.length > 0">
									<a>Results <span class="badge pull-right">{{total}}</span></a>
								</li>
							</ul>
							<form ng-show="tabCtrl.isSet(1)">
								<div class="panel-body">
									<div class="form-line">
										<div class="form-group col-md-4">
											<label for="number">Client Number</label>
											<input class="form-control" type="text" id="number" ng-model="searchParams.queueEntry.bookin">
										</div>
										<div class="form-group col-md-4">
											<label for="number">Bookin Number</label>
											<input class="form-control" type="text" id="number" ng-model="searchParams.queueEntry.client">
										</div>
										<div class="form-group col-md-4">
											<label for="sid">SID</label>
											<input class="form-control" type="text" id="sid" ng-model="searchParams.queueEntry.sid">
										</div>
									</div>
									<div class="form-line">
										<div class="form-group col-md-4">
											<label for="lastName">Last Name</label>
											<input class="form-control" type="text" id="lastName" ng-model="searchParams.queueEntry.lastName">
										</div>
										<div class="form-group col-md-4">
											<label for="firstName">First Name</label>
											<input class="form-control" type="text" id="firstName" ng-model="searchParams.queueEntry.firstName">
										</div>
									</div>
									<div class="form-line">
										<div class="form-group col-md-4">
											<label for="ssn">SSN</label>
											<input class="form-control" type="text" id="ssn" ng-model="searchParams.queueEntry.ssn">
										</div>
										<div class="form-inline form-group col-md-4">
											<div style="width: 100%; padding-bottom: 15px;">
												<label style="width: 100%;" for="age">Age</label>
												<input class="form-control simple" type="number" min="18" step="1" ng-model="searchParams.queueEntry.age.min"> - <input class="form-control simple" type="number" min="18" ng-model="searchParams.queueEntry.age.max">
											</div>
											<div style="width: 100%; padding-bottom: 15px;">
												<label style="width: 100%;" for="dob">DOB</label>
												<input class="form-control simple" type="text" id="from" name="from" ng-model="searchParams.queueEntry.dob.min"> - <input class="form-control simple" type="text" id="to" name="to" ng-model="searchParams.queueEntry.dob.max">
											</div>
										</div>
										<div class="form-group col-md-2">
											<label for="gender">Gender</label>
											<select class="form-control" id="gender" ng-model="searchParams.queueEntry.gender" ng-options="gender for gender in genders">
												<option value="">All</option>
											</select>
										</div>
										<div class="form-group col-md-2">
											<label for="ethnicity">Ethnicity</label>
											<select class="form-control" id="ethnicity" ng-model="searchParams.queueEntry.ethnicity" ng-options="ethnicity for ethnicity in ethnicities">
												<option value="">All</option>
											</select>
										</div>
									</div>
									<br>
									<span ng-show="errMsg" class="text-danger">{{errMsg}}</span>
								</div>
								<div class="panel-footer">
									<button class="btn btn-primary" ng-click="search(tabCtrl);"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
								</div>
							</form>
							<div ng-controller="SortCtrl" ng-init="defaultSort='bookin.name';itemsPerPage=10;reset();" ng-show="tabCtrl.isSet(2) && queueEntries.length > 0">
								<div class="panel-body" ng-show="queueEntries.length > 0">
									<span ng-if="end > 0">Displaying {{begin + 1}} - {{end}} of {{totalItems}}</span>
									<a class="filter-reset pull-right" ng-click="reset()">Reset Filter</a><br>
									<form class="filter-bar">
										<i class="filter-icon fa fa-filter" aria-hidden="true"></i>
										<input class="form-control" type="text" class="filter-search" placeholder="Filter" ng-model="queryString" ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}">
									</form>
								</div>
								<div class="panel-body" style="text-align: center;" ng-hide="data.length > 0">
									<span class="text-danger">No Results</span>
								</div>
								<div class="panel-table-body">
									<table class="table table-body-striped table-body-hover" ng-show="data.length > 0">
										<thead>
											<tr>
												<th class="sortRow" style="width: 130px;" ng-click="changeSort('bookin.number')">Bookin Number<i class="{{sorted('bookin.number') ? sortReverse ? 'fa fa-angle-up' : 'fa fa-angle-down' : ''}}"></i></th>
												<th class="sortRow" style="width: 130px;" ng-click="changeSort('client.number')">Client Number<i class="{{sorted('client.number') ? sortReverse ? 'fa fa-angle-up' : 'fa fa-angle-down' : ''}}"></i></th>
												<th class="sortRow" style="width: 150px;" ng-click="changeSort('bookin.name')">Name<i class="{{sorted('bookin.name') ? sortReverse ? 'fa fa-angle-up' : 'fa fa-angle-down' : ''}}"></i></th>
												<th class="sortRow" ng-click="changeSort('bookin.ssn')">SSN<i class="{{sorted('bookin.ssn') ? sortReverse ? 'fa fa-angle-up' : 'fa fa-angle-down' : ''}}"></i></th>
												<th class="sortRow" ng-click="changeSort('bookin.dob')">DOB<i class="{{sorted('bookin.dob') ? sortReverse ? 'fa fa-angle-up' : 'fa fa-angle-down' : ''}}"></i></th>
												<th class="sortRow" style="width: 80px;" ng-click="changeSort('bookin.gender')">Gender<i class="{{sorted('bookin.gender') ? sortReverse ? 'fa fa-angle-up' : 'fa fa-angle-down' : ''}}"></i></th>
												<th class="sortRow" style="width: 90px;" ng-click="changeSort('bookin.ethnicity')">Ethnicity<i class="{{sorted('bookin.ethnicity') ? sortReverse ? 'fa fa-angle-up' : 'fa fa-angle-down' : ''}}"></i></th>
												<th class="sortRow" ng-click="changeSort('queueEntry.status')">Status<i class="{{sorted('queueEntry.status') ? sortReverse ? 'fa fa-angle-up' : 'fa fa-angle-down' : ''}}"></i></th>
												<th class="sortRow" style="width: 110px;" ng-click="changeSort('bookin.date')">Bookin Date<i class="{{sorted('bookin.date') ? sortReverse ? 'fa fa-angle-up' : 'fa fa-angle-down' : ''}}"></i></th>
											</tr>
										</thead>
										<tbody ng-repeat="queueEntry in data | orderBy:sortType:sortReverse | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage track by $index">
											<tr>
												<td><a class="show-link" href="${createLink(uri: '/show/')}{{queueEntry.bookin.id}}">{{queueEntry.bookin.number}}</a></td>
												<td ng-if="navCtrl.isPermitted('viewclient')"><a class="show-link" href="${createLink(uri: '/client/show/')}{{queueEntry.client.id}}">{{queueEntry.client.number}}</a></td>
												<td ng-if="!navCtrl.isPermitted('viewclient')">{{queueEntry.client.number}}</td>
												<td>{{queueEntry.bookin.name | capitalize}}</td>
												<td>{{queueEntry.bookin.ssn}}</td>
												<td>{{queueEntry.bookin.dob | date: 'MM/dd/yyyy'}}</td>
												<td>{{queueEntry.bookin.gender}}</td>
												<td>{{queueEntry.bookin.ethnicity}}</td>
												<td>{{queueEntry.status}}</td>
												<td>{{queueEntry.bookin.date | date: 'MM/dd/yyyy h:mma'}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="text-center">
									<uib-pagination
										ng-hide="hide"
										class="pagination-sm"
										boundary-links="true"
										boundary-link-numbers="false"
										direction-links="true"
										force-ellipses="false"
										items-per-page="itemsPerPage"
										max-size="5"
										ng-disabled="false"
										ng-model="currentPage"
										rotate="true"
										total-items="totalItems"
										first-text="&laquo;"
										previous-text="&lsaquo;"
										next-text="&rsaquo;"
										last-text="&raquo;"></uib-pagination>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>