<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="layout" content="main">
		<title>Search User</title>
		<script type="text/javascript" src="/js/main/SortControls.js"></script>
		<script type="text/javascript" src="/js/main/controllers/UserController.js"></script>
	</head>
	<body layout:fragment="content">
		<script>
			$('#admin-menu').addClass("active");
			$('#user-link').addClass("active");
		</script>
		<div class="main-content">
			<div class="container-fluid p-t-50">
				<div class="panel panel-primary" ng-controller="SearchUserCtrl">
					<div class="panel-heading">
						<div class="panel-title">
							Search User
							<form class="inline pull-right">
								<input type="text" id="username" ng-model="username" placeholder="Username">
								<input type="text" id="lastName" ng-model="lastName" placeholder="Last Name">
								<button class="btn" ng-click="search()"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
							</form>
						</div>
					</div>
					<div ng-controller="SortCtrl" ng-init="defaultSort='lastName';itemsPerPage=20;reset();" ng-show="users.length > 0">
						<div class="panel-body">
							<span ng-if="end > 0">Displaying {{begin + 1}} - {{end}} of {{totalItems}}</span>
							<a class="filter-reset pull-right" ng-click="reset()">Reset Filter</a><br>
							<form class="filter-bar">
								<i class="filter-icon fa fa-filter" aria-hidden="true"></i>
								<input type="text" class="filter-search" placeholder="Filter" ng-model="options[$id].filters.$" ng-model-options="{updateOn: 'default blur', debounce: {'default': 700, 'blur': 0}}">
							</form>
						</div>
						<div class="panel-body" style="text-align: center;" ng-hide="data.length > 0">
							<span class="text-danger">No Results</span>
						</div>
						<div class="panel-table-body">
							<table class="table table-striped table-hover" ng-show="data.length > 0">
								<thead>
									<tr>
										<th></th>
										<th class="sortRow" ng-click="changeSort('username')"><i class="{{sorted('username') ? sortReverse ? 'fa fa-angle-up' : 'fa fa-angle-down' : '' }}" aria-hidden="true"></i>Username</th>
										<th class="sortRow" ng-click="changeSort('email')"><i class="{{sorted('email') ? sortReverse ? 'fa fa-angle-up' : 'fa fa-angle-down' : '' }}" aria-hidden="true"></i>Email</th>
										<th class="sortRow" ng-click="changeSort('lastName')"><i class="{{sorted('lastName') ? sortReverse ? 'fa fa-angle-up' : 'fa fa-angle-down' : '' }}" aria-hidden="true"></i>Last Name</th>
										<th class="sortRow" ng-click="changeSort('firstName')"><i class="{{sorted('firstName') ? sortReverse ? 'fa fa-angle-up' : 'fa fa-angle-down' : '' }}" aria-hidden="true"></i>First Name</th>
										<th class="sortRow" ng-click="changeSort('directory')"><i class="{{sorted('directory') ? sortReverse ? 'fa fa-angle-up' : 'fa fa-angle-down' : '' }}" aria-hidden="true"></i>Directory</th>
										<th></th>
									</tr>
								</thead>
								<tbody>    		
									<tr ng-repeat="user in data | orderBy:sortType:sortReverse | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage track by user.directory + user.uuid">
										<td class="action" ng-hide="user.id"><a ng-click="add(user)" style="cursor:pointer;"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</a></td>
										<td class="action" ng-show="user.id"><a ng-click="edit(user)" style="cursor:pointer;"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></td>
										<td>{{user.username}}</td>
										<td>{{user.email}}</td>
										<td>{{user.lastName}}</td>
										<td>{{user.firstName}}</td>
										<td>{{user.directory}}</td>
										<td class="action"><a ng-show="user.id && !user.currentUser" class="text-danger uppercase pull-right" ng-click="delete(user)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a></td>
									</tr>		    	
								</tbody>		    	
							</table>
						</div>
						<div class="text-center">
							<uib-pagination
								ng-hide="hide"
								class="pagination-sm"
								boundary-links="true"
								boundary-link-numbers="false"
								direction-links="true"
								force-ellipses="false"
								items-per-page="itemsPerPage"
								max-size="5"
								ng-disabled="false"
								ng-model="currentPage"
								rotate="true"
								total-items="totalItems"
								first-text="&laquo;"
								previous-text="&lsaquo;"
								next-text="&rsaquo;"
								last-text="&raquo;"></uib-pagination>
						</div>
					</div>
					<div class="panel-footer">
						<a class="text-danger" ng-click="cancel()"> Cancel</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>